@model Avance_1.Models.Siniestro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Siniestro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Siniestro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Siniestro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel_Siniestro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nivel_Siniestro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAgente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAgente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSiniestro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
